html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
:root {
  --my-blue: #3b8acf;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url(./img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
}

.container {
  width: 23rem;
  height: 24rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1%;
}
.ticket {
  display: flex;
  justify-content: space-between;
  margin-left: 1.3rem;
}
.take-off {
  line-height: calc(-0.5rem);
  margin-top: 2rem;
}
.country-code {
  color: var(--my-blue);
  font-weight: 900;
  font-family: Roboto, sans-serif;
  color: #3b8acf;
  font-size: 3rem;
}
.spacer {
  height: 0.3rem;
  width: 1.8rem;
  background-color: #d3e6f4 ;
  margin-top: 4.5rem;
}

.destination {
  line-height: calc(-0.5rem);
  margin-top: 2rem;
}
.flight-details {
  display: flex;
  margin-top: 4rem;
  column-gap: 3.5rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
}
.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.detail:nth-child(3) {
  margin-left: 1.2rem;
}

.header, .text {
  font-weight: 600;
}
.number {
  font-weight: 600;
  color: #2f3133;
}

.bottom-div {
  display: flex;
  justify-content: space-between;
  column-gap: 1;
  margin-top: 0.5rem;
}
div > p {
  margin: 0;
  font-weight: 600;
}
.passenger-info {
  display: grid;
}

.info {
  margin: 0rem 1rem 1rem 1rem;
}

.info p:nth-child(2) {
  color: #2f3133;
  font-size: 1rem;
}

img {
  height: 8rem;
  width: 8rem;
  margin-right: 2rem;
}
.text {
  color: #cacccf;
  font-size: 12px;
}
.country-name {
  color: #c0bfbf;
  font-size: 12px;
  font-weight: 500;
}

.arm  {
  margin-left: 2rem;
}

.header {
  color: #b4b4b4;
  font-size: 12px;
}
