*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Arial, Helvetica", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color:  #f2ce97;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  height: 30rem;
  width: 50rem;
  display: grid;
  grid-template-columns: 40% 1fr;
  
  box-shadow: 0.2em 0.6em 0.8em #cdae86;
}

.write-up {
  background-color: #484956;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0rem 0.5rem 2rem;
}

.cover { 
  background: #484956;
}

.topic > p {
  color: white;
  font-size: 23px;
  font-weight: 700;
}
.topic > span {
  color: #c7c7cb;
  font-size: 24px;
}
p,
span {
  line-height: 0.5rem;
}
.rep::before {
  position: absolute;
  content: "";
  height: 0.2rem;
  width: 3.5rem;
  background-color: #de7962;
  margin-top: 2rem;
}
.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 18rem;
}
img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.name {
  color: #89909b;
}
.p-first {
  margin: 0 auto;
  line-height: 1.5rem;
  padding: 3rem 2rem 2rem;
  color: #656972;
}
.p-first::first-letter {
  font-size: 30px;
  font-weight: 700;
  color: #0e0e0e;
}
.p-second {
  margin-top: -3.5rem;
  line-height: 1.5rem;
  padding: 3rem 2rem 0.8rem;
  color: #656972;
}
.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-top: 2px solid #f7f7f7;
}

.comment span:nth-of-type(1) {
  color: #989195;
  font-size: 0.9rem;
}

.icon {
  height: 20px;
  width: 20px;
  margin-right: 2rem;
}
.more {
  height: 20px;
  width: 24px;
}


.no {
  color: #989195;
  position:absolute; 
  left: 72.5%;
  top:81%;
  font-size: smaller;
}
