.also-viewed {
    margin-left: 1.4rem;
}

.people {
    display: flex;
    margin-top: 1.2rem;
}

.influencers {
    margin-top: 2rem;
}

.first-para, .influencers-para {
    font-size: small;
    color: rgb(92, 91, 91);
}

.user-img {
   width: 3rem;
   height: 3rem;
   border-radius: 50%; 
   margin-right: 0.8rem;
}

.people-text {
    margin-top: 0.5rem;
}

.people-text p:nth-child(1) {
font-weight: 500;
font-size: medium;
}


.people-text p:last-of-type {
    font-size: small;
    color: rgb(197, 197, 197);
    padding-top: 0.2rem;
}

.steve {
    margin-top: 1rem;
    margin-left: 2rem;
}

.steve p:first-of-type {
    font-weight: 600;
    color: rgb(61, 56, 56);
}

.steve p:last-of-type {
    color: rgb(197, 197, 197);
    padding-top: 0.2rem;
    font-size: small;
    margin-left: 1.5rem;
}

.steve-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.caret {
    position: absolute;
    top: 75%;
}

.caret .right {
    font-size: 1.3rem;

}

.caret .left {
    font-size: 1.3rem;
    margin-right: 4.7rem;
    margin-left: 0.7rem;
}