* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}

.space {
  width: 100vw;
  position: absolute;
  top: 90%;
}


#nav {
  display: flex;
  margin: 0 19%;
}


.nav-bar {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 3%;
}


#nav-link {
  display: flex;
}

li {
  list-style: none;
  margin-top: 0.8rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  color: #b0afb0;
  font-size: 0.9rem;
}

li:nth-of-type(1) {
margin-left: 100%;
}

li:hover {
  cursor: pointer;
  color: black;
  border-bottom: 1px solid #b0aeb0;
}

input {
  border: none;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid #dad9da;
}


input:hover {
  cursor: pointer;
}

/* hero-section */
#freedom {
  display: flex;
  margin: 0 16% 3% 16%;
  /* border-bottom: 1px solid green; */
  
}


.calls {
  margin: 0 3% 0 4%;
  padding-top: 4rem;
  padding-bottom: 2rem;
}


.watch-img {
width: 490px;
height: 450px;
object-position:  25%;
position:relative; 
left:460px; 
top:2px;
border-bottom: 1px solid gray;
}


.btn-watch {
  border: none;
  padding: 0.5rem 1rem;
  background: #e75954;
  color: white;
  margin-top: 2rem;
}


.btn-watch:hover, .btn-buy:hover, .btn-explore:hover {
  cursor: pointer;
  background: #d9514d;
}

.calls h4 {
  font-weight: 800;
  font-size: 2rem;
}

.calls p {
  color: #b4b3b4;
  font-size: 0.8rem;
  line-height: 1.5rem;
  border-left: 2px solid rgb(177, 173, 173);
  padding-left: 1.5rem;
  text-align: justify;
  margin-top: 2rem;
}


/* run */
#runs {
  display: flex;
  margin: 2% 16% 0 16%;
}

.know, .good, .just {
  flex: 33.3%;
  margin: 0 4%;
  text-align: justify;
}

.know h4, .good h4, .just h4 {
  font-size: 1rem;
}

.know p, .good p, .just p {
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin-top: 2rem;
  font-weight: 400;
}

#dots {
  color: rgb(187, 182, 182);
  display: flex;
  /* justify-content: center; */
}

#dots p {
  margin: 0 0.3rem;
}


.more {
  font-size: 0.8rem;
  margin-left: 2.5rem;
  font-weight: 600;
  transition: width 2s;
  color: #bc545c;
}

.hr-lines:before{
  content:" ";
  height: 2px;
  width: 42px;
  background:  #d75051;
  display: block;
  position: absolute;
  top: 55%;
  left: 0;
}


.rule {
  text-decoration: none;
  padding: 0.5rem 1rem;
  position: relative;
  color:   #d75051;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}


.rule:hover, .rule:focus, .rule:active {
    cursor: pointer;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }



/* sport band */
#sport-band {
  display: flex;
  margin: 4% 16% 0 16%;
}

.band {
  flex: 3;
  margin: 8% 4% 0 4%;
  /* text-align: justify; */
}

.band h4 {
text-transform: capitalize;
font-size: 2rem;
font-weight: 800;
padding-right: 2rem;
}

.band p {
  font-size: 0.8rem;
  line-height: 1.5rem;
  border-left: 2px solid rgb(177, 173, 173);
  padding-left: 1.5rem;
  margin-right: 2rem;
  margin-top: 2rem;

}

.band-img {
width: 300px;
height: 500px;
flex: 1;
}

.btn-buy {
  border: none;
  padding: 0.5rem 1rem;
  background: #e75954;
  color: white;
  margin-top: 2rem;
}

/* health */
#control {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(./img/runners.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  color: white;
padding: 0 9rem 0 52rem;
margin-top: 2%;
background-position: center center;
  /* display: flex; */
  overflow-y: hidden;
}

.health-control {
   flex: 3;
   padding-top: 36%;
   padding-bottom: 48%;

}

.health-control h4{
  font-weight: 800;
  font-size: 2rem;
  /* text-align: end; */
}

.health-control p {
  /* margin: 0 0 5rem 0 14rem; */
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding: 0 3rem 0  1.5rem;
  border-left: 2px solid rgb(177, 173, 173);
  margin-top: 2rem;
  text-align: justify;
  /* padding-left: 1.5rem; */
 
}

.btn-explore {
  border: none;
  padding: 0.5rem 1rem;
  background: #e75954;
  color: white;
  margin-top: 2rem;
}



