/* POSTS_SECTION */
.posts-section-a {
    background: white;
margin-left: 1.4rem;
width: 45vw;
height: 54vh;
}

.posts-heading {
    display: flex;
    justify-content: space-between;
padding: 1rem;
}

.posts-heading h5 {
    padding-top: 0.5rem;
    font-size: medium;
}

.carousel-buttons {
    display: flex;
}

.posts-a-btn {
    color: rgb(56, 102, 202);
    border-radius: 50%;
    border: 1px solid rgb(56, 102, 202);
    padding: 0.2rem 0.7rem;
    background: none;
    font-size: 1.5rem;
}
.posts-a-btn:last-of-type {
    margin-left: 0.3rem;
}

.posts-a-images {
    margin: 1rem;
    display: flex;
}

.img-a {
    margin-right: 1rem;
}

.img-a p a:first-of-type {
    font-size: 0.8rem;
    font-weight: 600;
    padding-top: 1rem;
    color: black;
}

.img-a p:last-of-type {
    padding-top: 0.3rem;
    font-size: 0.7rem;
    color: rgb(197, 197, 197);
   
}

.square-img {
    width: 11.5rem;
    height: 11.5rem;
}

/* background */
.background-div {
    /* height: 122vh; */
    background: white;
    width: 45vw;
    /* height: 48vh; */
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    }
    
    .background-heading {
        padding: 1rem 1rem;
    }

    .background-heading h5 {
        font-size: medium;
    }
    
    .summary {
        display: flex;
        padding: 1rem 1rem 0.1rem 1rem;
    }
    
    .dev {
        display: flex;
    }
    
    .summary-text {
        margin-left: 0.4rem;
        margin-top: 0.5rem;
    }


    .sum {
        font-size: larger;
    }

    .sum-text {
        font-size: 0.9rem;
    }
    

    
.lake {
    margin-top: 1rem;
}

.micro p, .lake p {
        padding-top: 0.4rem;
    }
 
 .micro p:nth-child(1) {
color: #a1a0a1;
font-size: 0.7rem;
    }

    .lake p:nth-child(1), .education-text p:nth-child(1) {
        font-size: smaller;
        color: #a1a0a1;
    }


  .micro p:nth-child(2), .lake p:nth-child(2){
    padding-bottom: 0.4rem;
}



.micro:nth-child(3), .lake:nth-child(3) {
    color: #79a0dc;
}

 .micro:nth-child(3):hover, .lake:nth-child(3):hover {
    text-decoration: underline 1px solid #79a0dc;
}

.microsoft, .youtube, .computer {
    color: #8bb7eb;
}
    
    .summary .star {
        font-size: 1.5rem;
    }
    
    .summary .bulb, .experience, .book, .school {
        margin-top: 0.4rem;
        /* color: black; */
    }
    
    .youtube-img {
        width: 4.5rem;
        height: 1.2rem;
        margin-left: 20rem;
        margin-top: 2.4rem;
    }
    
    
    .microsoft-img {
        width: 5rem;
        height: 2rem;
        margin-left: 17.5rem;
        margin-top: 1.5rem;
    }

    
.social, .social-1{
    display: flex;
}

.tech {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 0.7rem;
}

.tech p {
margin-right: 0.6rem;
background: #f0eef0;
padding: 0.5rem;
font-size: small;
}

.tech p:last-of-type {
    visibility: hidden;
}

.skills-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.6rem;
    
}

.round-2 {
    visibility: hidden;
}

.round {
    padding: 0.4rem 0.4rem;
    border-radius: 50%;
    border: 1.5px solid#c7c6c7;
    color: #adaca6;
    margin-right: 1.5rem;
}

.round-1 {
    padding: 0.6rem 0.4rem;
    border-radius: 50%;
    /* border: 1.5px solid rgb(168, 168, 168); */
    background-color: rgb(219, 219, 219);
    margin-right: 1.5rem;
    font-size: small;
}

.posts-a-btn:hover {
    cursor: pointer;
background: whitesmoke;
border: 1px solid black;
color: black;
}

.img-a:hover {
    cursor: pointer;
}

.img-a a:nth-child(1):hover {
    text-decoration: underline;
}


.social, .social-1 {
    margin-top: 1rem;
}

.social p:nth-child(2) {
    margin-right: 7.5rem;
    margin-top: 0.5rem;
}

.social-1 p:nth-child(2) {
    margin-right: 9.7rem;
    margin-top: 0.5rem;
}


.recommendations {
    background: white;
    width: 45vw;
    height: 52vh;
    margin-top: 2.5rem;
}

.recommend {
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
}

.recommend h5 {
    font-size: medium;
    padding-top: 0.5rem;
}



p.text:nth-child(1) {
    margin-right: 1rem;
}

/* FOLLOW_SECTION */
.following {
    background: white;
    width: 45vw;
    height: 47vh;
    margin-top: 2.5rem;
    margin-bottom: 10rem;  
    box-shadow: 0.5px 0.5px -1px #888;
}

.follow {
    padding: 1rem 1rem;
}

.follow h5 {
    font-size: medium;
}

.a p:first-of-type {
    font-size: small;
}

.a-img {
    width: 8rem;
    height: 3rem;   
    padding-top: 0.5rem; 
}

.img-con {
    height: 4rem;
border: 1px solid rgb(236, 236, 236);
margin-right: 1rem;
}


.ama-img {
    width: 5rem;
    height: 2rem;
    /* margin: 2% auto; */
    margin: 1.5rem;
    /* border: 1px solid gray; */
    /* padding: 2rem 1.5rem; */

}

.brand{
    margin-top: 1rem;
}

.a .carousel-buttons {
padding-top: 0.5rem;
}

.a-btn {
    color: rgb(98, 195, 207);
    border-radius: 50%;
    border: 1px solid rgb(98, 195, 207);
    padding: 0.1rem 0.3rem;
    background: none;
    margin-right: 0.4rem;
}

.follow-btn { 
 color: rgb(98, 195, 207);   
}

.all-btn {
   padding: 0.5rem ;  
   background: none;
   border: 1px solid rgb(98, 195, 207);
   color: rgb(98, 195, 207);
  margin-top: 0.2rem; 
  margin-left: 1rem;
    padding: 0.5rem 1rem;
    width: 8rem;
    border-radius: 20px 20px;
    margin-bottom: 1.7rem;
}

.all-btn:hover {
    cursor: pointer;
    background: rgb(235, 244, 245);
}



/* ALSO_VIEWD */
.also-viewed {
    margin-left: 1.4rem;
}

.people {
    display: flex;
    margin-top: 1.2rem;
}

.influencers {
    margin-top: 2rem;
}

.first-para, .influencers-para {
    font-size: small;
    color:#33343d;
}

.user-img {
   width: 3rem;
   height: 3rem;
   border-radius: 50%; 
   margin-right: 0.8rem;
}

.people-text {
    margin-top: 0.5rem;
}

.people-text p:nth-child(1) {
font-weight: 500;
font-size: medium;
}


.people-text p:last-of-type {
    font-size: small;
    color: rgb(197, 197, 197);
    padding-top: 0.2rem;
}

.steve {
    margin-top: 1rem;
    margin-left: 2rem;
}

.steve p:first-of-type {
    font-weight: 600;
    color: rgb(61, 56, 56);
}

.steve p:last-of-type {
    color: rgb(197, 197, 197);
    padding-top: 0.2rem;
    font-size: small;
    margin-left: 1.5rem;
}

.steve-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.caret {
    position: absolute;
    top: 74%;

}

.caret .right {
    font-size: 1.3rem;
    color: black;
}

.caret .left {
    font-size: 1.3rem;
    margin-right: 4.7rem;
    margin-left: 0.7rem;
    color: black;
}

/* container */
/* .container { */
    /* padding: 5% 5%; */
  /* } */
  

  .lorem {
    display: flex;
    padding: 1rem 1rem 2.5rem 1rem;
}

.a .user-img {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.7rem;
    border-radius: 50%;
}


.people {
    display: flex;
    margin-top: 1rem;
}

.people-text {
    margin-left: 0.1rem;
    margin-top: 0.9rem;
}

  /* CSS talk bubble */

  p.speech {
    position: relative;
    width: 180px;
    height: 130px;
    margin-right: 1.2rem;
    text-align: center;
    background-color: #fff;
    border: none;
    padding: 1rem;
    margin-top: 0.6rem;
    border: 1px solid rgb(236, 235, 235);
  }


  p.speech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -1px;
    top: 129px;
    /* border: 5px solid; */
    border: 11.5px solid;
    border-color: rgb(236, 235, 235) transparent transparent rgb(236, 235, 235);
    /* border: 1px solid gray; */
  }


  p.speech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 120px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
    
  }

