* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #c2f7ff;
    font-family: Roboto, sans-serif;
    /* overflow-y: hidden; */
}

#inner-div {
    display: flex;
    margin: 3% auto;
    width: 70%;
    background: white;
    /* justify-content: space-between; */
}


#bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
background-position: center center;
    flex: 2;
    color: white;
    /* background-blend-mode: darken; */
}


.press {
margin: 55% auto;
width: 60%;
}

.press h2 {
    font-size: 2rem;
}

.press p {
    margin-top: 0.8rem;
}

.btn {
    margin-top: 1.5rem;
color: white;
    border: none;
    border-radius: 35px;
    /* background: #609d8e; */
    background: rgba(84, 152, 144, .8);
    padding: 0.8rem 1rem;
}



.btn:hover {
    cursor: pointer;
    background: rgb(90 169 146);
}

input {
    border: none;
    background: none;
    padding-left: 2rem;
    color: white;
}

.file-img {
    position: absolute;
    top: 62%;
    left: 23%;
}

#articles {
    flex: 2;
    padding: 4% 2% 6% 2%;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu h4 {
    font-size: 1.8rem;
    font-weight: 600;
}

.year {
    display: flex;
    padding-top: 5%;
}

.year p {
    padding-right: 6%;
    color: gray;
    font-weight: 500;
}

.year p:first-child {
    color: black;
}

.year p:last-child {
    opacity: 0.4;
}

.year p:hover {
    color: black;
    cursor: pointer;
}

.cal-section {
    margin-top: 10%;
}

.a{
    display: flex;
    margin-bottom: 7%;
}

.a:last-of-type {
    margin-bottom: 2%;
}

.startups {
    display: flex;
    justify-content: space-between;
}

.startups p {
    margin-top: 4%;
}

.avatar {
    width: 2.5rem;
    margin-right: 0.8rem;
}

.avatar2, .avatar3 {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-top: 0.3rem;
    margin-right: 1.2rem;
}

.date {
    display: flex;
    margin-left: 5rem;
   }

.date-1 {
    font-size: 2rem;
margin-right: 0.5rem;
 font-family: 'Courier New', Courier, monospace;

}

.date-2 {
    font-size: 1.8rem;
margin-right: 0.8rem;
margin-left: 1.2rem;
 font-family: 'Courier New', Courier, monospace;
}

.month {
    font-size: smaller;
}


