* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: #4d67d1;
    background: #7a9bcf;
    font-family: Roboto, sans-serif;
    overflow-y: hidden;
}


#items {
    display: flex;
background: white;
margin: 10% auto;
width: 60%;
border-radius: 5px;
}

.mobile, .desktop, .tv {
margin: 2%;
flex: 33.3%;
padding: 5% 2%;
    justify-content: space-around;
}

 .mobile-img, .desktop-img, .tv-img {
    margin:  auto;
    display: block;
    height: 40%;
    width: 40%;
}


#items h3 {
text-transform: uppercase;
padding: 2rem 0 1rem 0;
text-align: center;
}

.text {
 text-align: center;
color: #b8acaa; 
font-size: small;  
}


.price {
margin: 10% 0 1% 0; 
text-align: center;  
font-weight: 600;
}

.num {
    margin-left: 0.6rem;
    font-size: 2.5rem;
    margin-right: 0.2rem;
}

.doll {
    position: absolute;
    top: 69%;
    font-size: medium;
}

.dollar {
    position: absolute;
    top: 71%;
    font-size: medium;
}

.mon {
    font-size: small;
    position: absolute;
    top: 71%;
}

.month {
    font-size: small;
    position: absolute;
    top: 73.5%;
}

.mobile:hover, .desktop:hover, .tv:hover {
    cursor: pointer;
    background: #f7f5f7;
    border-radius: 5px;
}

@media only screen and (max-width: 480px) {
    #items {
        display: block;
        width: 80%;
    }
    
} 