html,
body {
  margin: 0%;
  padding: 0;
  font-family: Roboto, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  ---turquoise: #16957b;
  ---fairy-black: #150000;
  ---light-gray: #aeafb0;
  ---deep-gray: #61667f;
  ---fray-black: #000d20;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(---turquoise);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: url(./img/bicycle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-position-y: 10rem;
  display: flex;
  justify-content: center;
  padding: 20px;
  color: #150000;
  height: 70vh;
  width: 45vw;
  background-color: white;
  overflow: hidden;
  border-radius: 0.2rem;
}
.img-wrap {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #ebe9eb;
  cursor: pointer;
  margin-top: 0.8rem;
}
.img-wrap:hover {
  /* background-color: #eceaec; */
box-shadow: 0 0 0.25em 0.2em #f1eff1;
}

.product-info {
  color: #a09fa1;
  font-size: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: -1rem;
}
.type {
  display: flex;
  justify-content: space-between;
  color: #4e5a7b;
  display: flex;
  align-content: space-between;
  line-height: 3rem;
}

.type .total {
  color: #525151;
  font-weight: 700;
}

.price {
  color: #473023;
  font-weight: 5rem;
}
