*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background: #a5bdd4;
  --main: white;
  --header: #618bd4;
  --text: #2c1c15;
  --send-box: #e4ebf6;
  --recieve-box: #f1eff1;
  --comment: #f1eff1;
  --send: #6d92c7;
--time: rgb(172, 169, 169);
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 75vh;
  width: 30vw;
  background-color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 7rem;
}
.chat-box {
  margin-left: -2rem;
  background-color: var(--header);
  height: 4rem;
  width: 25.7rem;
  display: flex;
  justify-content: space-between;
}
p {
  color: var(--comment);
  margin-top: 1.5rem;
  margin-left: 6px;
}
.dot {
  height: 7px;
  width: 7px;
  background-color: var(--comment);
  margin: 30px 0 0 18px;
  border-radius: 50%;
}
img {
  margin-top: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 10rem;
  margin-top: 1.5rem;
  filter: brightness(0) invert(1);
}

img:hover {
  cursor: pointer;
}

.duration {
  text-transform: uppercase;
  color: #dde1e4;
  font-size: 15px;
}
.line {
  height: 2px;
  width: 9rem;
  background-color: #dde1e4;
}
.time {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
  width: auto;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}
.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



.me {
  /* position: relative; */
  margin-top: 0.5rem;
  background-color: #e6edf6;
  color: #2c1c15;
  font-size: 13px;
  font-weight: 500;
border-radius: 0 0.2rem 0.2rem 0.2rem;
}
.me::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  /* border-top: 20px solid green; */
  /* border-bottom: 20px solid black; */
  /* border-right: 20px solid red; */
  border: 75%;
}

.me::after {
  
}


.reply {
  margin-top: 0.5rem;
  color: red;
  
}
.other > .next {
  margin-left: 5rem;
}
.dur {
  margin-left: 19.5rem;
  color: var(--time);
  font-weight: 400;
}

.dura {
  color: var(--time);
  font-weight: 400;
}
.chat > .me {
  background-color: var(--background);
  height: auto;
  width: 17rem;
  /* color: red; */
  padding: 10px;
  margin-left: 8px;
}
.next {
  background-color: #f2f2f2;
  height: auto;
  width: 17rem;
  margin-top: 0.5rem;
  color: black;
  font-size: 13px;
padding: 0.3rem 0.1rem 0.3rem 1rem;
border-radius: 0.2rem 0 0.2rem 0.2rem;
font-weight: 500;
}
.next::after {
  content: "";
  width: 20px;
  height: 30px;
  position: absolute;
}
.other {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.reply {
  background-color: var(--background);
  height: auto;
  width: 5rem;
  color: black;
  font-size: 13px;
  padding: 0.6rem 0.5rem;
  border-radius: 0 0.2rem 0.2rem 0.2rem;
  font-weight: 500;
}
.block {
  background-color: #ffc2c1;
  color: black;
  font-size: 13px;
  height: 2rem;
  width: 12rem;
  margin-left: 10rem;
  padding: 0.6rem 0.5rem;
  font-weight: 500;
  border-radius: 0 0.2rem 0.2rem 0.2rem;
}
form {
  cursor: pointer;
  border-top: 2px solid var(--comment);
padding-bottom: 2rem;
}

input {
  border: none;
  font-weight: 700; 
}

input:focus {
  outline: none;
}


button {
  cursor: pointer;
  background-color: var(--main);
  color: #6a96d8;
  margin-left: 6rem;
  margin-top: 1rem;
  border: none;
  font-weight: 800;
}
